cache/
thumbs/
vendor/
# keep files from clogging up git
/public/files
# Prevent Server Config from syncing, manually edit this through ftp if needed
/app/config/config.yml

# NPM, Gulp and Grunt stuff
node_modules
bower_components
npm-debug.log
.sass-cache

# File-system cruft and temporary files
scrutinizer.phar
php-cs-fixer.phar
.DS_Store
.idea
__*
._*
Vagrantfile
.vagrant*
*.sublime-*
/tags
.*.swp
.swp
.buildpath
.project
/bolt.log
/public/theme/evooBolt/config.codekit3
/evoostuff.txt
/app/config/config.yml
.htaccess
