//body
//-------
body a {
  transition: all .2s ease-in;
}

.show-for-none {
  display: none;
}

.fadeScroll {
  opacity: 0;
}

@include breakpoint(small only) {
  .smallMargin{
    margin-left: 2%;
    margin-right: 2%;
  }
}

//Menu items
//----------

#primary-menu .first {
  font-style: italic;
}

//Footer
//-----------------

#footerContainer {
  padding-top: 30px;
  background: black;
  padding-bottom: 30px;
}

//index
//--------

.fpOrbitImgContainer {
  position: relative;
  width: 100%; /* for IE 6 */

  img {
    filter: brightness(50%);
  }
}

.fpWorkTextContainer {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;
}

.fpWorkButton {
  margin-top: 20px;
}

.fpWorkButton a {
  border: $white solid 1px;
  padding: 5px;
  color: $white;

  &:hover {
    border: #EAC67A solid 1px;
    transition: all .2s ease-in;
  }

}

//Orbit
//-------

.orbit-previous {
  transition: all .2s ease-in;
}

.orbit-next {
  transition: all .2s ease-in;
}

//Work Entry
//------------

#workEntryTitleContainer {
  background: no-repeat;
  background-size: cover;
}

#workEntryTitleSize {
  text-align: center;
  position: relative;
  padding: 30px;
}

#workEntryTitle {
  background: rgba(0, 0, 0, 0.5);
}

#workEntryPublish {

  @include breakpoint(medium up) {
    div:nth-child(2) {
      text-align: right;
    }
  }

}

#workEntryPublishContainer {
  padding-top: 1%;
  background: #233237;
}

#workEntryContentContainer {
  background: #233237;
}

#workEntryTechUsedContainer {
  background: #EAC67A;
  color: black;
}

#workEntryImageListContainer {
  background: #984B43;
}

#workEntryContainer {
  h2 {
    text-align: center;
    padding-top: 10px;
  }
}

#workEntryDownload {
  text-align: center;

  a {
    color: black;
  }
}

#workEntryFooterContainer {
  margin-top: 2%;
}

#workEntryFooter {
  border-top: solid white 1px;
  padding-top: 1%;
}

.workEntryPaddingSide {
  @include breakpoint(small only) {
    padding-right: 1%;
    padding-left: 1%;
  }
}

#workEntryImageList .card h4 {
  color: black;
}


#workEntryImageList .reveal h4{
  color: black;
}




//Works Listing
//-------------

$workListingBackground: #233237;

#workListingTitleContainer {
  background: $workListingBackground;
  padding-top: 0px;
  padding-bottom: 0px;

}

#workListingTitleLine {
  background: url("../assets/images/white-line.jpg");
  background-repeat: repeat-y;
  background-position: center;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-bottom: 20px;
}

#workListingTitleContainer h1 {
  background: $workListingBackground;
}

.workEntryRevealWrapper {
  color: black;
}






