//body
//-------
body a {
  transition: all .2s ease-in;
}

.show-for-none {
  display: none;
}

.fadeScroll {
  opacity: 0;
}

@include breakpoint(small only) {
  .smallMargin {
    margin-left: 2% !important;
    margin-right: 2% !important;
  }

}

.revealIosFixFull {
  top: 0 !important;
  padding-bottom: 100px !important;
}

.darkText {
  color: black;
}

.hiddenLoading {
  visibility: hidden;
}

//Menu items
//----------

#primary-menu .first {
  font-style: italic;
}

#primary-menu a {

  color: #984843;

  &:hover {
    color: #EAC67A;
  }
}

//Footer
//-----------------

#footerContainer {
  padding-top: 30px;
  background: black;
  padding-bottom: 30px;
}

//index
//--------

@include breakpoint(small only) {
  .fpNewsTitle {
    font-size: 28px;
    text-align: center;
    display: inline-block;
    float: none;
    width: 100%;
  }
}

@include breakpoint(medium up) {
  .fpNewsTitle {
    font-size: 25px;
  }

  .fpNewsTitleItem {
    font-size: 20px;
  }
}

.fpNewsCardTitle {

}

.fpNewsCardTeaser {
  color: black;
}

#fpCloseNews {
  position: fixed;
}

.fpWorkTextContainer {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fpWorkButton {
  margin-top: 20px;
}

.fpWorkButton a {
  border: $white solid 1px;
  padding: 5px;
  color: $white;

  &:hover {
    border: #EAC67A solid 1px;
    color: #EAC67A;
    transition: all .2s ease-in;
  }

}

.fpSlickImgContainer {
  position: relative;
  width: 100%; /* for IE 6 */

  img {
    filter: brightness(50%);
  }
}

#fpSlickDots .slick-dots {

  li {
    color: pink;
  }
}

.slick-prev:before, .slick-next:before {
  color: red;
}

.fpSlickButton {
  position: absolute;
  font-size: 3em;


  i {
    transition: all .2s ease-in;

    color: rgba(255,255,255,0.5);
  }

  &:hover {
    i {
      color: rgba(234,198,122,1);

    }
  }


}

//-------

.orbit-previous {
  transition: all .2s ease-in;
}

.orbit-next {
  transition: all .2s ease-in;
}

//Work Entry
//------------

#workEntryTitleContainer {
  background: no-repeat;
  background-size: cover;
}

#workEntryTitleSize {
  text-align: center;
  position: relative;
  padding: 30px;
}

#workEntryTitle {
  background: rgba(0, 0, 0, 0.5);
}

#workEntryPublish {

  @include breakpoint(medium up) {
    div:nth-child(2) {
      text-align: right;
    }
  }

}

#workEntryPublishContainer {
  padding-top: 1%;
  background: #233237;
}

#workEntryContentContainer {
  background: #233237;
}

#workEntryTechUsedContainer {
  background: #EAC67A;
  color: black;

  a {

    color: #984843;

    &:hover {
      color: #233237;

    }

  }

}

#workEntryImageListContainer {
  background: #984B43;
}

#workEntryContainer {
  h2 {
    text-align: center;
    padding-top: 10px;
  }
}

#workEntryDownload {
  text-align: center;

  a {
    color: black;
  }
}

#workEntryFooterContainer {
  margin-top: 2%;
}

#workEntryFooter {
  border-top: solid white 1px;
  padding-top: 1%;
}

.workEntryPaddingSide {
  @include breakpoint(small only) {
    padding-right: 1%;
    padding-left: 1%;
  }
}

#workEntryImageList .card h4 {
  color: black;
}

#workEntryImageList .reveal h4 {
  color: black;
}

//Works Listing
//-------------

$workListingBackground: #233237;

#workListingTitleContainer {
  background: $workListingBackground;
  padding-top: 0px;
  padding-bottom: 3%;
  margin-bottom: 20px;

}

#workListingTitleLine {
  background: url("../assets/images/white-line.jpg");
  background-repeat: repeat-y;
  background-position: center;
  padding-top: 3%;
}

#workListingTitleContainer h1 {
  background: $workListingBackground;
}

.workEntryRevealWrapper {
  color: black;
}

#workListingContainer a {

  color: #984843;

  &:hover {
    color: #233237;
  }
}

//Entry Listing
//-----------------

$entryListingBackground: #984B43;

#entryListingTitleContainer {
  background: $entryListingBackground;
  padding-top: 0px;
  padding-bottom: 3%;
  margin-bottom: 20px;
}

#entryListingTitleLine {
  background: url("../assets/images/white-line.jpg");
  background-repeat: repeat-y;
  background-position: center;
  padding-top: 3%;
}

#entryListingTitleContainer h1 {
  background: $entryListingBackground;
}

//About Me
//----------
.aboutCenterImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aboutMeTitleContainer h1 {
  margin-top: 10px;
  text-align: center;
  border-bottom: solid white 1px;
}

#aboutMeTitleContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

#aboutMeContentContainer {
  background: #233237;
  padding-top: 20px;
}

#aboutMeSkillsContainer {
  background: #EAC67A;
  color: black;
}

#aboutMeContactContainer {
  background: #984B43;

  a {
    color: #00FF77;
  }

}






